<p>To whom it may concern:</p>
<p>I am excited to apply for the ${new-job-title} position. ${new-company} has become a leader in the industry by always focusing on its clients—whether they’re huge global brands or local hotels. Your commitment to customer satisfaction is something I’ve always strived for in my own career. I’d love to bring this dedication, along with my relevant skills and experience, to your award-winning company.</p>
<p>Over the last ${years-experience} years, I worked as ${current-job-title} for ${current-company}.</p>
<p>In your next couple sentences, talk about the specific responsibilities you had in that role that are the closest to the responsibilities you’d have in this job.</p>
<p>As ${current-job-title}, I was responsible for ${skills}.</p>
<p>Sincerely, </p>
<p>${name}</p>