<p>Dear Hiring Manager,</p>
<p>Thank you for the opportunity to apply for the ${new-job-title} role at ${new-company}. After reviewing the job description, it’s clear that you’re looking for a candidate that is extremely familiar with ${skills}. Given these requestment, I am certain that I have the necessary skills to successfully do the job and perform above expectations.</p>
<p>I am a professional with ${years-experience} years of experience who has been consistently praised as detail-oriented and efficient by my coworkers and management. Over the course of my career, I’ve developed a skillset relevant to the ${new-job-title} role you are hiring for, including ${new-job-skills}. </p>
<p>I invite you to review my detailed achievements in the attached resume.</p>
<p>After reviewing my resume, I hope you will agree that I am the type of competent and competitive candidate you are looking for. I look forward to elaborating on how my specific skills and abilities will benefit your organization. Please contact me at ${phone} or via email at ${email} to arrange a convenient meeting time.</p>
<p>Thank you for your consideration, and I look forward to hearing from you soon.</p>
<p>Sincerely,</p>
<p>${name}</p>