@import 'variables';
@import 'mixins';

body{
	margin: 0;
	padding: 0;

	font: normal 10px/18px $default-font;
	background: url('../images/desk.jpg') center center / cover no-repeat #222;

	@media screen and (min-width: 640px) {
		font-size: 14px;
	}
}

h1{

}

h3{
	text-align: center;
	font-weight: 800;
	font-size: 1.5em;
}

.container{
	height: 92vh;
	padding: 4vh 4vw;
	display: flex;
	align-items: stretch;
	max-width: 1000px;
	margin: 0 auto;

#change-template{
	margin-bottom: 2em;
}

#letter{
	background: #f5f5f5;
	box-shadow: 0px 1px 5px rgba(0,0,0,.25);
	background: #fff;
	width: 50%;
	position: relative;
	padding: 5vh 3vw;
	flex: 1 0 auto;

	.replace-me{
		background: #d4cccb;
		min-width: 4em;
		display: inline-block;
		height: 1em;

		&.replaced{
			background: lighten(#d4cccb, 15%);
			min-width: 0;
			height: auto;
		}
	}
}

#letter-content{
}

#form{
	padding: 4vh 5vw;
	background: rgba(0,0,0,.5);
	color: #fff;
	margin: 2vh 0;
	flex: 1 1 auto;

	label{
		display: block;
		margin-bottom: 1rem;
	}

	span.label{
		display: block;
		text-transform: uppercase;
		font-size: .9em;
		letter-spacing: .1em;
		color: #dadada;
	}

	fieldset{
		border: none;
		padding: 0;
		margin: 0 0 2em;
	}

	input{
		display: block;
		background: rgba(255, 255, 255, .1);
		border: none;
		border-bottom: 1px solid white;
		padding: .75em;
		color: white;
		width: 20vw;
	}
}
